body {
  font-family: "IBM Plex Sans", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border-radius: 8px;
  padding: 4px 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.chart-content {
  display: flex;
  flex-direction: row;
}

.chart {
  width: 100%;
}

.big-number {
  font-size: 96px;
  margin-top: 0;
  margin-bottom: 36px;
}
